<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.member.dao.MemberMapper">
	<insert id="insertMember" parameterType="memberVO">
		INSERT 
		INTO member 
			(mem_num,mem_email
			<if test="mem_social!=null">
				,mem_social
			</if>
			)
		VALUES 
			(#{mem_num},#{mem_email}
			<if test="mem_social!=null">
				,#{mem_social}
			</if>
			)
	</insert>
	<insert id="insertMemberDetail" parameterType="memberVO">
		INSERT 
		INTO member_detail 
			(mem_num,mem_nickname
			<if test="mem_password!=null">
				,mem_password
			</if>
			) 
		VALUES 
			(#{mem_num},#{mem_nickname}
			<if test="mem_password!=null">
				,#{mem_password}
			</if>
			)
	</insert>
	<update id="updateMemberDetail" parameterType="memberVO">
		UPDATE member_detail
		SET 
			<if test="mem_password == null"><!-- 정보 수정 시 -->
				mem_nickname=#{mem_nickname},mem_name=#{mem_name},mem_phone=#{mem_phone},mem_zipcode=#{mem_zipcode},mem_address1=#{mem_address1},mem_address2=#{mem_address2},mem_modidate=SYSDATE 
			</if>
			<if test="mem_password != null"><!-- 비밀번호 수정 시 -->
				mem_password='${mem_password}'
			</if>
		WHERE mem_num=#{mem_num}
	</update>
</mapper>