/* 공통 정렬
-------------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align: left;
}

/* ck 에디터 크기 조정
-------------------------*/
.ck.ck-editor{
	max-width:900px;
}
.ck-editor__editable{
	min-height:300px;
}

/* 유효성 체크 문구
-------------------------*/
.error-color{
	color:#ff0000;
}	

/* 버튼색
-------------------------*/
.helper-btn{
	background: #32a77b;
    color: white;
}

/* 버튼 길이
-------------------------*/
.helper-btn-size{
	width:500px;
	text-align:center;
	height:50px;
}
.float-rigth{
	float:right;
}
.float-rigth2{
	float:right;
	position:absolute;
}
.float-left{
	float:left;
}
.float-left1{
	float:left;
	margin-left:100px;
}
.float-left2{
	float:left;
	margin-left:80px;
}

.input-group-text p-3{
	position:absolute;
	left:5px;
}
.search-size{
	width:50px;
	height:50px;
}
.keyword-size{
	height:50px;
}
.align-center{
	text-align: center;
}
.margin{
	margin-left: 20px;
}
.margin1{
	margin-left: 10px;
}
/* 목록 페이지
-------------------------*/
.help_btn{
	width:100px;
	height:30px;
	border-color:green;
	border-radius:30px;
	color:white;
	cursor:pointer;
}
.font-size1{
	font-size: 20px;
	font-weight: bold;
}
.font-size2{
	font-size: 20px;
	font-weight: bold;
}
.border-color{
	border-color: #D8D8D8;
	border-radius: 20px;
	padding:15px;
	
}
.hr-line{
	height: 1px;
	background: #bbb;
	background-image: -webkit-linear-gradient(left, #eee, #777, #eee); 
	background-image: -moz-linear-gradient(left, #eee, #777, #eee); 
	background-image: -ms-linear-gradient(left, #eee, #777, #eee); 
	background-image: -o-linear-gradient(left, #eee, #777, #eee); 
}

.title{
	font-size: 30px;
	font-weight: bold;
}

.radius{
	border-radius: 30px;
}

/*상세글 카테고리*/
.border_cate{
	font-size:20px;
	color:white;
	border-radius:3px;
	width:85px;
	margin-top:10px;
	padding:10px;
	border-radius: 10px;
}








/* 댓글
-------------------------*/
div#reply_div{
	padding:5px 80px 20px 10px;
	margin-top:10px;
	background-color:white;
	border:2px solid #D8D8D8;
	border-radius: 10px;
	float:left;
	margin-bottom:30px;
}
form#re_form{
	width:650px;
	border:none;
}
span.re-title{
	color:#000;
	font-size:12pt;
	line-height:200%;
}
span.letter-count{
	font-size:10pt;
	color:#999;
}
textarea.rep-content{
	width:98%;
	height:50px;
	margin:10px 10px;
	border-color: #D8D8D8;
	border-radius: 10px;
}
div#re_first,div#mre_first{
	float:left;
	width:70%;
	padding-left:15px;
	margin-bottom:10px;
}
div#re_second, div#mre_second{
	float:left;
	width:19%;
	margin-bottom:10px;
}
div#loading{
	width:100px;
	height:50px;
	/*정중앙에 div를 배치하기 위한 설정*/
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	/*하위 요소를 수직으로 쌓을 수 있는 공간을 만듬*/
	display:flex;
	/*세로 정렬*/
	align-items:center;
	/*가로 정렬*/
	justify-content:center;
}
div.paging-button{
	text-align:right;
}
div#output{
	clear:both;
}
form#mre_form{
	border:1px solid #D8D8D8;
	margin:10px;
	border-radius: 10px;
}
.btn-reply{/*작성하기*/
	border-color: #D8D8D8;
	border-radius: 10px;
	background-color:white;
	box-shadow: none;
	padding:10px;
	margin-top:10px;
}
.margin-photo{
	margin-right:10px;
}


/*상세글 박스*/
.detail-border{
	border:1px solid #D8D8D8;
	border-radius: 10px;
	padding:50px;
	width:900px;
	margin-left:100px;
}
.detail-border2{
	border:1px solid #D8D8D8;
	border-radius: 10px;
	margin-left: 40px;
	height: 500px;
	width:200px;
}







