@charset "UTF-8";
/*----------- 공통 버튼 -----------*/
.default-btn{
	background:#32a77b;
	font-weight:bold;
	color:white;
	border:none;
	font-size:13px;
	border-radius:5px;
	width:100px;
	height:24px;
	padding:3px;
}


/* 중고거래 글쓰기 폼
-------------------------*/

.sc-writeform input[type='text']:focus,
.sc-writeform input[type='text']:hover,
.sc-writeform select:focus,
.sc-writeform select:hover {
	outline:2px solid #32a77b;
	box-shadow: none;
}

#sc_write label{
	margin-bottom:15px;
	margin-top:15px;
	font-weight:bold;
}

/* 상품 등록 버튼 */
.sc-writeform .btn.btn-light{
    font-weight: 600;
    transition: .5s;
    background: #fafafa;
}
.sc-writeform .btn.btn-light:hover{
    background: #32a77b !important;
    color: white !important;
}

/* 유효성 검사 색상 */
.error-color{
	color:#ff0000;
}
/* 상품 상태  */
label[for="sc_status1"],
label[for="sc_status2"]{
	margin-bottom:-5px !important;
	margin-top:-13px !important;
}
.sc_status input[type="radio"]{
	display:none;
}
.sc_status input[type="radio"]+label{
	display:inline-block;
    cursor:pointer;
    height:30px;
    width:90px;
    border: 1px solid #32a77b;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    font-size:13px;
    background-color:#fff;
    color:#333;
}
.sc_status input[type="radio"]:checked+label{
	background-color:#32a77b;
	color:white;
}

/* 거래 방법  */
label[for="sc_way1"],
label[for="sc_way2"]{
	margin-bottom:-5px !important;
	margin-top:-13px !important;
}
.sc_way input[type="radio"]{
	display:none;
}
.sc_way input[type="radio"]+label{
	display:inline-block;
    cursor:pointer;
    height:30px;
    width:90px;
    border: 1px solid #32a77b;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    font-size:13px;
    background-color:#fff;
    color:#333;
}
.sc_way input[type="radio"]:checked+label{
	background-color:#32a77b;
	color:white;
}
/* 중고거래 메인 list
-------------------------*/
.scmain-btn {
    text-align: right; /* Move the button to the right */
    margin-top: 20px; /* Add some spacing at the top */
    background-color:pink;
}
/* 채팅버튼 */
.chat-btn{
	border: none;
    display: right;
    align-items: center;
    padding: 5px; /* Adjust padding as needed */
    cursor: pointer;
}
/* 판매하기 버튼 */
.sell-btn{
	border: none;
    display: right;
    align-items: center;
    padding: 5px; /* Adjust padding as needed */
    cursor: pointer;
}
/* 내 상점 버튼 */
.sc-mypage-btn{
	border: none;
    display: right;
    align-items: center;
    padding: 5px; /* Adjust padding as needed */
    cursor: pointer;
}
.sell-btn img {
	margin-right: 5px; /* Adjust the margin as needed */
  }

.sell-txt {
	margin: 0; /* Remove default margin for span element */
}








/* 나중에 list에 사용할거임 */
/*** service start ***/
.service .service-item {
    position: relative;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.service-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    background: var(--bs-primary);
    border-radius: 8px;
    transition: 1s;
}

.service-item:hover .service-content::after {
    height: 100%;
    opacity: 1;
}

.service-item .service-content-icon {
    position: relative;
    z-index: 2;
}

.service-item .service-content-icon i,
.service-item .service-content-icon p {
    transition: 1s;
}

.service-item:hover .service-content-icon a.btn-primary {
    background: var(--bs-white);
    color: var(--bs-dark);
}

.service-item .service-content-icon a.btn-primary {
    transition: 1s !important;
}
/*** Services End ***/

/* 공통 등록, 수정 폼
------------------------------*/

form ul li{
	clear:both;
}
form ul li label{
	width:130px;
	float:left;
}
ul{
	list-style:none;
}

form#search_form{
	border:none;
}
ul.search{
	width:340px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;
	justify-content:center;
}