/*----------- 공통 문구 스타일 -----------*/
.guide-phrase{
	font-size:12px;
	color:#32a77b;
	font-weight:bold;
}
h4{
	font-family:sans-serif;
	font-weight:bold;
	color:#414142;
}
.title-phrase{
	font-size:25px;
	margin-bottom:-37px;
}
.error-phrase{
	font-size:12px;
	color:#dd5c5e;
}
.result-display{
	width:400px;
	height:200px;
	margin:100px auto;
	border:1px solid #000;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
/*----------- 공통 검색폼 스타일 -----------*/
form#search_form{
	padding-bottom:0;
	border:none;
}
ul.search{
	width:700px;
	list-style:none;
	padding:0;
	margin:20px 560px 65px 600px;
}
ul.search li{
	margin:0 0 15px 0;
	padding:0;
	display:inline;
}
#keyword{
	border-radius:20px;
	border:1px solid #c7d9c9;
}
#keyword:hover,#keyword:focus{
	outline:2px solid #32a77b;
	box-shadow:none;
}
#keyfield{
	font-size:13px;
}
/*----------- 공통 버튼 -----------*/
.default-btn,input[type=file]::file-selector-button{
	background:#32a77b;
	font-weight:bold;
	color:white;
	border:none;
	font-size:13px;
	border-radius:5px;
	width:100px;
	height:24px;
	padding:3px;
}
.btn-search{
	background-position:0px 0px;
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	border:0px;
	cursor:pointer;
	outline:0;
}
/*----------- 공통 정렬 -----------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
/*----------- 모임글 등록폼 -----------*/
#book_write label{
	margin-bottom:15px;
	margin-top:15px;
	font-weight:bold;
}
label[for="book_match1"],
label[for="book_match2"]{
	margin-bottom:-5px !important;
	margin-top:-13px !important;
}
#book_content{
	resize:none;
	width:100%;
	height:350px;
}
#book_write input[type="text"]:focus,
#book_write input[type="text"]:hover,
#book_content:focus, #book_content:hover,
#book_expense:focus, #book_expense:hover{
	outline:2px solid #32a77b;
	box-shadow:none;
}
#book_zipcode:hover,#book_content:hover{
	border:none;
}
#book_category:hover, #book_category:focus-within{
	border:none;
	outline:2px solid #32a77b;
	box-shadow:none;
}
#book_category{
	font-size:13px;
}
.book_match input[type="radio"]{
	display:none;
}
.book_match input[type="radio"]+label{
	display:inline-block;
    cursor:pointer;
    height:30px;
    width:90px;
    border: 1px solid #32a77b;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    font-size:13px;
    background-color:#fff;
    color:#333;
}
.book_match input[type="radio"]:checked+label{
	background-color:#32a77b;
	color:white;
}
input[value="우편번호 찾기"]{
	margin-left:5px;
}
#book_gatheringDate{
	cursor:pointer;
}
#book_write .btn-light.active{
    background: #32a77b;
    color: white;
    font-size:15px;
    font-weight:bold;
}
#book_write .btn-light:hover,
#book_write .btn-light:hover,
#book_write .btn:hover,
#book_write .btn-light.active:hover{
    background: white !important;
    color: #32a77b;
    border: 1px solid #ededed;
    font-size:15px;
    font-weight:bold;
}
.ck-editor__editable {
	height: 400px;
}
.ck-content {
	font-size: 14px;
}
/*----------- 모임글 목록 -----------*/
ul.book-ul{
	list-style:none;
}
li.book-li{
	float:left;
	margin-left:186px;
	margin-right:-200px;
}
.book-page{
	clear:both;
	text-align:center;
	font-family:fantasy;
	padding-top:20px;
}
.book-img{
	width:150px;
	height:150px;
	object-fit:cover;
	border-radius:7px;
	margin:30px 0;
}
.book-section{
	width:300px;
	height:430px;
	box-shadow:5px 5px 10px lightgray;
}
.book-first{
	font-size:12px;
	font-weight:bold;
	color:white;
	border-radius:3px;
	width:100px;
	margin-top:10px;
}
.book-second{
	font-size:12px;
	font-weight:bold;
	color:#32a77b;
}
.book-third{
	margin-left:-170px;
	font-size:15px;
	color:#383838;
}