/*--------------------전체--------------------*/
body{
	font-family: Arial;
	padding: 0;
	margin: 0;
}

/*--------------------로딩--------------------*/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease-out, visibility 0s linear .2s;
    z-index: 99999;
 }
 #spinner.show {
     transition: opacity .4s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }
 
 /*-------------상단으로 스크롤--------------*/
 .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    background-color: white;
}
 
/*--------------회원 메뉴-------------*/
#member_menu{
	background-color: white;
}
#member_menu a{
	font-size: 0.8em;
	color: #65756f;
	border-left: 1px solid #6e6e6e;
	text-decoration-line: none;
	padding: 0 5px 0 10px;
}
#member_menu .nickname-area{
	border: none;
}
#member_menu a:hover{
	color: #0a2118;	
	transition: .4s;
}

/*--------------------헤더--------------------*/
/*header{
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}*/
.main-header .nav-bar {
    background: #fafafa;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    font-size: 0.9em;

}
.main-header .navbar .navbar-nav .nav-link {
    padding: 10px 12px;
    transition: .4s;
    cursor: pointer;
    color: black;
}
.main-header .navbar .navbar-nav .nav-link:hover,
.main-header .navbar .navbar-nav .nav-link.active {
    color: #0a2118;
}
.main-header .navbar .dropdown-toggle::after {
    border: none;
    vertical-align: middle;
    margin-left: 8px;
}
@media (min-width: 1200px) {
    .main-header .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .3s;
        opacity: 0;
    }
    .main-header .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        opacity: 1;
    }
}
.main-header .dropdown .dropdown-menu a:hover {
    background: #fafafa;
    color: #0a2118;
    transition: .4s;
}
.main-header .dropdown-menu{
	 font-size: 0.9em;
}

/*--------------------헤더 메뉴명--------------------*/
/*.header-menu{
	position: sticky;
	top: 107px;
	left: 0;
	right: 0;
	z-index: 9998;
}*/
.menu-title{
    background: #ffffff;
    box-shadow: 0 8px 8px 0 #ededed;
    font-size: 0.9em;
    margin-bottom: 20px;
}
.menu-title #navbarCollapse{
	font-size:1.5em;
	font-weight: 600;
	margin-left: 10px;
}

/*--------------------footer--------------------*/
footer{
	background: #fafafa;
	padding: 40px;
	margin-top: 50px;
	color: #65756f;
}
footer a{
	text-decoration-line: none;
	color: #424242;
}
footer a:hover{
	color: #0a2118;
}
footer ul li{
	list-style-type: none;
	padding: 2px;
	
}
footer ul>li:first-child{
	font-size: .9em;
	font-weight: 580;
	padding-bottom: 6px;
}
footer ul li:not(:first-of-type) {
	font-size: .8em;
}
footer .footer-logo{
	margin-left:100px;
}
footer .info{
	border-top: 1px solid lightgray;
	font-size: .7em;
	text-align:center;
	padding-top: 20px;
	margin-top:20px;
}

/*--------------------모션--------------------*/
.wow, .animated {
    animation-duration: 2s !important;
}

/*-------------------- 사이트 설명 --------------------*/
.site-content {
	margin-top: 20px;
	padding: 5px;
	font-size: .9em;
	font-weight: bold;
}

/*-------------------- 메뉴 설명 --------------------*/
.service{
	margin:50px 0 50px 0;
}
.service-title{
	font-size: 1.2em;
	padding-bottom:10px;
}
.service-title-content{
	font-size: 1em;
	padding-bottom:50px;
}
.service-content-icon h4{
	font-size: 1em;
	font-weight: bold;
}
.service-content-icon h4 a{
	color: black;
	text-decoration-line: none;
}
.service-content-icon p{
	font-size: 0.9em;
}
.service .service-item {
    position: relative;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}
.service-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    background: #32a77b;
    border-radius: 8px;
    transition: 1s;
}
.service-item:hover .service-content::after {
    height: 100%;
    opacity: 1;
}
.service-item .service-content-icon {
    position: relative;
    z-index: 2;
}
.service-item .service-content-icon a {
	transition: .5s;
}
.service-item .service-content-icon p {
    transition: 1s;
}
.service-item:hover .service-content-icon a {
    color: var(--bs-white) !important;
}
.service-item:hover .service-content-icon p {
    color: var(--bs-white);
}
.service-item:hover .service-content-icon a.btn-primary {
    background: var(--bs-white);
    color: var(--bs-white);
}
.service-item .service-content-icon a.btn-primary {
    transition: 1s !important;
}

/*--------------------최신글--------------------*/
.event{
	padding: 50px 0 50px 0;
}
.event h4{
	font-size: 1.1em;
	font-weight: bold;
}
.me-auto{
	color: black;
}
.event .tab-class .nav-item a.active {
    background: var(--bs-primary) !important;
}
.event .event-img .event-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    transition: 0.4s;
    opacity: 0;
    z-index: 1;
}
.event .event-img:hover .event-overlay {
    opacity: 1;
    cursor: pointer;
}

/*--------------------입력 폼--------------------*/
.login-form label,
#register_member label,
#update_member label{
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
}
#register_member input,
#update_member input{
	margin: 10px 0 10px 0;
}
.login-form input[type='text']:focus,
.login-form input[type='password']:focus,
.login-form input[type='text']:hover,
.login-form input[type='password']:hover,
#update_member input[type='text']:focus,
#update_member input[type='text']:hover{
	outline:2px solid #32a77b;
	box-shadow: none;
}

/*--------------------에러 메세지--------------------*/
.mypageMain #photo_check,
.login-form span,
#update_member span,
register_member span{
	margin-top: 5px;
	font-weight: bold;
	color: #DB3954;
}

/*--------------회원 가입, 회원 정보 수정 폼 가운데 정렬----------*/
.mypageMain .row,
.login-form.row{
	width:80%;
	float:none;
	margin:0 auto;
}
.mypageMain .col-6{
	float:none;
	margin:0 auto;
	border: 1px solid black;
}

/*--------------------버튼--------------------*/
.login-form .btn,
.mypageMain .btn{
	font-size: .9em;
    transition: .5s;
    border: 1px solid #ededed;
    transition: .5s;
}
.login-form .btn:hover,
.mypageMain .btn:hover{
	font-weight:bold;
	background: #32a77b !important;
	color: white;
}
.login-form .btn-light,
.mypageMain .btn-light{
	font-weight:bold;
    transition: .5s;
    background: white;
    color: black;
    margin: 20px 0 40px 0;
}
.login-form .btn-light.active,
.mypageMain .btn-light.active{
    background: #32a77b;
    color: white;
}
.login-form .btn-light:hover,
.mypageMain .btn-light:hover{
    background: white !important;
    color: #32a77b !important;
}

/*--------------------마이페이지 메인--------------------*/
.mypageMain row{
	margin-top: 10px;
}
.mypageMain .event{
	height: 500px;
}
.mypageMain h6{
	font-weight: 700;
	padding: 10px 0 5px 0;
	border-bottom: 1px solid lightgray;
}
.mypageMain p{
	padding-left: 10px;
}
.mypageMain a{
	font-weight: 700;
	font-size: 1.2em;
	text-decoration-line: none;
	color: white;
}


/*--------------------크롬 input 태그 파란 배경색상 제거--------------------*/
input:-webkit-autofill { 
	-webkit-box-shadow: 0 0 0 30px #fff inset ; 
	-webkit-text-fill-color: #000; 
}
input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{ 
	transition: background-color 5000s ease-in-out 0s; 
}

