/*-------------- 메인-------------*/
/* 케러셀 */
.carousel-item {
	height: 500px;
	width: 100%;
	overflow: hidden;
}

/*캐러셀 : 메뉴 설명*/
.main-content h5{
	margin: 30px 0 10px 0;
	font-weight: 600;
}
.owl-nav{
	display:none;
}

/*메뉴 설명*/
.service{
	margin:50px 0 50px 0;
}
.service-title{
	font-size: 1.1em;
	padding-bottom:10px;
}
.service-title-content{
	padding-bottom:50px;
}
.service-content-icon h4{
	font-size: 1em;
	font-weight: bold;
}
.service-content-icon h4 a{
	color: black;
	text-decoration-line: none;
}
.service-content-icon p{
	font-size: 0.9em;
}
.service .service-item {
    position: relative;
    height: 100%;
    border-radius: 8px;
    /*box-shadow: 0 0 45px rgba(0, 0, 0, .08);*/
}
.service-content::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: auto;
    background: #32a77b;
    border-radius: 8px;
    transition: 1s;
}
.service-item:hover .service-content::after {
    height: 100%;
    opacity: 1;
}
.service-item .service-content-icon {
    position: relative;
    z-index: 2;
}
.service-item .service-content-icon a {
	transition: .5s;
}
.service-item .service-content-icon p {
    transition: 1s;
}
.service-item:hover .service-content-icon a {
    color: var(--bs-white) !important;
}
.service-item:hover .service-content-icon p {
    color: var(--bs-white);
}
.service-item:hover .service-content-icon{
    color: var(--bs-white);
}
.service-item .service-content-icon {
    transition: 1s !important;
}


/*--------------마이페이지--------------*/
/* 메인 */
.mypageMain .profile-detail{
	height: 500px;
}
.mypageMain .photo-area {
	height: 400px;
}
.mypageMain h6{
	font-weight: 500;
	padding: 10px 0 5px 0;
	color:#8c8c8c;
	border-bottom: 1px solid #8c8c8c;
}
.mypageMain p{
	font-weight: 700;
	padding-left: 10px;
	color:black;
}
.mypageMain a{
	font-weight: 700;
	font-size: 1.2em;
	text-decoration-line: none;
	color: black;
}
.mypageMain .my-photo{
	border-radius: 50%;
}

/* 프로필 사진 변경 */
.site-content {
	margin-top: 20px;
	padding: 5px;
	font-size: .9em;
	font-weight: bold;
}
.event{
	padding: 50px 0 50px 0;
}
.event h4{
	font-size: 1.1em;
	font-weight: bold;
}
.me-auto{
	color: black;
}
.event .tab-class .nav-item a.active {
    background: var(--bs-primary) !important;
}
.event .event-img .event-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    transition: 0.4s;
    opacity: 0;
    z-index: 1;
}
.event .event-img:hover .event-overlay {
    opacity: 1;
    cursor: pointer;
}

/* 회원 정보 수정 */
#update_member h6{
	margin-bottom: 30px;
}

/*-------------전체--------------*/
/* 일반 페이지 넓이 */
.page-width{ 
	width:60%;
}

/* 입력폼 페이지 넓이 */
.form-width{ 
	width:45%;
}


.carousel-inner img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: 50% 50%;
}

/* 입력폼 */
.member-form label{
	font-weight: bold;
	color: black;
	margin-top: 20px;
}
.member-form input{
	margin: 5px 0 5px 0;
}
.member-form input[type="text"]:focus,
.member-form input[type="text"]:hover,
.member-form input[type="password"]:focus,
.member-form input[type="password"]:hover{
	border: 1px solid #737373 !important;
	box-shadow: none;
}

/* 에러 메세지 */
.mypageMain #photo_check,
.member-form span{
	margin: 5px 0 0 5px;
	font-weight: bold;
	color: #DB3954;
} 

/* 버튼 */
input[type=file]::file-selector-button{
	font-size: .9em;
	border: 1px solid #ededed !important;
	background: white;
	box-shadow: none;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
}
.mem-btn, .mem-btn:focus{
	font-size: .9em;
	border: 1px solid #ededed !important;
	box-shadow: none;
}
.mem-btn-green,
.mem-btn-green:focus{
	background: #32a77b;
    color: white;
    box-shadow: none;
}
.mem-btn:hover,active,visited,
.mem-btn-green:hover,active,visited{
    background: white !important;
    color: #32a77b;
    border: 1px solid #ededed;
	box-shadow: none;
}

/*--------------기타--------------*/
/* 모션 */
.wow, .animated { 
    animation-duration: 2s !important;
}