<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.book.dao.BookMapper">
	<!-- 소모임 예약 게시글 등록 -->		
	<insert id="insertBook" parameterType="bookVO">
		INSERT INTO book(
			book_num,
			mem_num,
			book_thumbnailName,
			book_category,
			book_title,
			book_content,
			book_gatheringDate,
			book_match,
			book_address1,
			book_address2,
			book_zipcode,
			book_kit,
			book_maxcount,
			book_ip,
			book_expense)
		VALUES (
			book_seq.nextval,
			#{mem_num},
			#{book_thumbnailName,jdbcType=VARCHAR},
			#{book_category},
			#{book_title},
			#{book_content},
			#{book_gatheringDate},
			#{book_match},
			#{book_address1},
			#{book_address2},
			#{book_zipcode},
			#{book_kit,jdbcType=VARCHAR},
			#{book_maxcount},
			#{book_ip},
			#{book_expense,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 검색 -->
	<sql id="bookSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					book_title LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 2">
					mem_nickname LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 정렬 -->
	<sql id="bookOrder">
		<if test="order == 1">
			ORDER BY book_regDate DESC
		</if>
		<if test="order == 2">
			ORDER BY rev_cnt DESC
		</if>
		<if test="order == 3">
			ORDER BY scrap_cnt DESC
		</if>
	</sql>
	
	<!-- 소모임 예약 게시글의 총 개수/검색 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM book 
		LEFT OUTER JOIN member USING(mem_num) 
		LEFT OUTER JOIN member_detail USING(mem_num)
		<include refid="bookSearch"></include>
	</select>
	
	<!-- 소모임 예약 게시글 전체 목록/검색 목록 -->
	<select id="selectList" parameterType="map" resultType="bookVO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
			FROM (SELECT
					*
				FROM book
				LEFT OUTER JOIN member USING(mem_num)
				LEFT OUTER JOIN member_detail USING(mem_num) 
				<include refid="bookSearch"></include> 
				<include refid="bookOrder"></include>)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>	
	</select>
</mapper>