<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.book.dao.BookMapper">
	<!-- 소모임 예약 게시글 등록 -->		
	<insert id="insertBook" parameterType="bookVO">
		INSERT INTO book(
			book_num,
			mem_num,
			book_thumbnailName,
			book_category,
			book_title,
			book_content,
			book_gatheringDate,
			book_match,
			book_address1,
			book_address2,
			book_zipcode,
			book_kit,
			book_maxcount,
			book_ip,
			book_expense)
		VALUES (
			book_seq.nextval,
			#{mem_num},
			#{book_thumbnailName,jdbcType=VARCHAR},
			#{book_category},
			#{book_title},
			#{book_content},
			#{book_gatheringDate},
			#{book_match},
			#{book_address1},
			#{book_address2},
			#{book_zipcode},
			#{book_kit,jdbcType=VARCHAR},
			#{book_maxcount},
			#{book_ip},
			#{book_expense,jdbcType=VARCHAR}
		)
	</insert>
</mapper>