<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.performance.dao.PerformanceMapper">
	<!-- 공연 등록 -->
	<insert id="insertPerformance" parameterType="performanceVO">
		INSERT INTO performance(
		   performance_num,
		   performance_title,
		   performance_poster,
		   performance_content,
		   performance_start_date,
		   performance_age,
		   performance_category)
		VALUES (
		   performance_seq.nextval,
		   #{performance_title},
		   #{performance_poster,jdbcType=VARCHAR},
		   #{performance_content},
		   #{performance_start_date},
		   #{performance_age},
		   #{performance_category})
	</insert>
	<!-- 상영관 등록 -->
	<insert id="insertCinema" parameterType="cinemaVO">
		INSERT INTO cinema(
		   cinema_num,
		   cinema_location1,
		   cinema_location2,
		   cinema_theater,
		   cinema_theater_num,
		   cinema_row,
		   cinema_col,
		   cinema_adult,
		   cinema_not_adult)
		VALUES (
		   performance_seq.nextval,
		   #{cinema_location1},
		   #{cinema_location2},
		   #{cinema_theater},
		   #{cinema_theater_num},
		   #{cinema_row},
		   #{cinema_col},
		   #{cinema_adult},
		   #{cinema_not_adult})
	</insert>
	
	<!-- [재사용] sql 검색어 -->
	<sql id="performanceSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				performance_title LIKE '%' || #{keyword} || '%' AND performance_category=#{category}
			</if>
		</where>
	</sql>
	
	<!-- 공연 전체/검색 목록 -->
	<select id="selectList" parameterType="map" resultType="performanceVO">
		SELECT
			*
		FROM performance
		<include refid="performanceSearch"></include>
	</select>
	
	<!-- 공연 개수/검색 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM performance
		<include refid="performanceSearch"></include>
	</select>
	
	
	
</mapper>

