<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.performance.dao.PerformanceMapper">
	<!-- 공연 등록 -->
	<insert id="insertPerformance" parameterType="performanceVO">
		INSERT INTO performance(
		   performance_num,
		   performance_title,
		   performance_poster,
		   performance_content,
		   performance_start_date,
		   performance_age,
		   performance_category)
		VALUES (
		   performance_seq.nextval,
		   #{performance_title},
		   #{performance_poster,jdbcType=VARCHAR},
		   #{performance_content},
		   #{performance_start_date},
		   #{performance_age},
		   #{performance_category})
	</insert>
	<!-- 상영관 등록 -->
	<insert id="insertCinema" parameterType="cinemaVO">
		INSERT INTO cinema(
		   cinema_num,
		   cinema_location1,
		   cinema_location2,
		   cinema_theater,
		   cinema_theater_num,
		   cinema_total,
		   cinema_row,
		   cinema_col,
		   cinema_adult,
		   cinema_teenage,
		   cinema_treatment)
		VALUES (
		   performance_seq.nextval,
		   #{cinema_location1},
		   #{cinema_location2},
		   #{cinema_theater},
		   #{cinema_theater_num},
		   #{cinema_total},
		   #{cinema_row},
		   #{cinema_col},
		   #{cinema_adult},
		   #{cinema_teenage},
		   #{cinema_treatment})
	</insert>
	<!-- 공연+상영관+날짜 등록 -->
	<insert id="insertDate" parameterType="ticketingVO">
		INSERT INTO ticketing(
		   ticketing_num,
		   performance_num,
		   cinema_num,
		   ticketing_date,
		   ticketing_start_time)
		VALUES (
		   ticketing_seq.nextval,
		   #{performance_num},
		   #{cinema_num},
		   #{ticketing_date},
		   #{ticketing_start_time})
	</insert>
	
	<!-- [재사용] sql 검색어 -->
	<sql id="performanceSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				performance_title LIKE '%' || #{keyword} || '%' AND performance_category=#{category}
			</if>
		</where>
	</sql>
	
	<!-- 공연 전체/검색 목록 -->
	<select id="selectList" parameterType="map" resultType="performanceVO">
		SELECT
			*
		FROM performance
		<include refid="performanceSearch"></include>
	</select>
	
	<!-- 공연 개수/검색 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT COUNT(*) FROM performance
		<include refid="performanceSearch"></include>
	</select>
	
	<!-- 지역1로 -> 지역2 선택 -->
	<select id="selectCinemaLoc2" parameterType="map" resultType="cinemaVO">
		SELECT DISTINCT cinema_location2 FROM cinema WHERE cinema_location1=#{cinema_location1}
	</select>
	
	<!-- [상영관] 상영관 + 날짜 + 영화로 예매할 수 있는 정보 출력 -->
	<select id="selectCinemaWithTicketing" parameterType="map" resultType="cinemaVO">
		SELECT c.cinema_num,c.cinema_location1,c.cinema_location2,c.cinema_theater,c.cinema_theater_num,c.cinema_total,c.cinema_row,c.cinema_col,c.cinema_adult,c.cinema_teenage,c.cinema_treatment
		<include refid="result"></include>
	</select>
	
	<!-- [영화] 상영관 + 날짜 + 영화로 예매할 수 있는 정보 출력 -->
	<select id="selectPerformanceWithTicketing" parameterType="map" resultType="PerformanceVO">
		SELECT p.performance_num, p.performance_title, p.performance_poster, p.performance_start_date, p.performance_age, p.performance_category
		<include refid="result"></include>
	</select>
	
	<!-- [상영관+영화+날짜] 상영관 + 날짜 + 영화로 예매할 수 있는 정보 출력 -->
	<select id="selectWithTicketing" parameterType="map" resultType="TicketingVO">
		SELECT t.ticketing_num,t.performance_num, t.cinema_num, t.ticketing_date, t.ticketing_start_time
		<include refid="result"></include>
	</select>
	
	<!-- [include] 상영관 + 날짜 + 영화로 예매할 수 있는 정보 출력 -->
	<sql id="result">
		FROM performance p JOIN ticketing t ON p.performance_num = t.performance_num JOIN cinema c ON t.cinema_num = c.cinema_num
		<![CDATA[
		WHERE 
		TO_TIMESTAMP(TO_CHAR(t.ticketing_date, 'YYYY-MM-DD') || ' ' || t.ticketing_start_time, 'YYYY-MM-DD HH24:MI') > CURRENT_TIMESTAMP 
		AND t.ticketing_date=#{day}
		]]>
		<if test="list != null and list != ''">
			 AND t.cinema_num IN
			 <foreach item="item" index="index" collection="list"
	       		open="(" separator="," close=")">
	         		#{item}
	   		</foreach>	
		</if>
		<if test="performance_num != null and performance_num != ''">
				AND p.performance_num=#{performance_num}
		</if> 
	</sql>
	
	
</mapper>

