<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.policy.dao.PolicyMapper">
	<insert id="insertPolicy" parameterType="policyVO">
		INSERT 
		INTO Policy 
			(district_num
			<if test="policy_url!=null">
				,policy_url
			</if>
			) 
		VALUES 
			(#{district_num}
			<if test="policy_url!=null">
				,#{policy_url}
			</if>
			)
	</insert>
	
	<select id="selectPolicyList" parameterType="map" resultType="policyVO">
		SELECT *
		FROM (SELECT a.*,rownum rnum
				FROM (SELECT *
						FROM district
						LEFT OUTER JOIN policy USING (district_num)
						)a)
		<if test="map!=null">
		<![CDATA[
		WHERE rnum>=#{start} AND rnum<=#{end}
		]]>
		</if>
	</select>
	
</mapper>